body{
    font-family: 'Barlow', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Mukta', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;
    background-color: blueviolet;
}
h1,h3{
    font-family: 'Fira Sans', sans-serif;
font-family: 'Mukta', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;
}